:root {
  --catspeak-red-50: #100002;
  --catspeak-red-100: #230004;
  --catspeak-red-200: #370006;
  --catspeak-red-300: #4b0008;
  --catspeak-red-400: #5e000a;
  --catspeak-red-500: #72000d;
  --catspeak-red-600: #85000f;
  --catspeak-red-700: #990011;
  --catspeak-red-800: #ad0013;
  --catspeak-red-900: #c00015;
  --catspeak-red-950: #d40018;
  --catspeak-red-1000: #e7001a;
  --catspeak-red-1050: #fb001c;

  --catspeak-primary: #72000d;
  --catspeak-danger: #fb001c;
  --catspeak-warning: #e7001a;
  --catspeak-success: #4b0008;
  --catspeak-dusk: #1a1a2e;
}
